<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>住所一覧</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <!--<span class="id-column">ID</span>-->
          <span>住所一覧</span>
        </div>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="address-column"><%=item.p_address%><%=item.s_address%></span>
                <!-- 今回は選択の表示として2つのadressを飛ばせるようにしておく＞ -->
                <a href="/api?p_address=<%=item.p_address%>&s_address=<%=item.s_address%>">地図の表示</a> 
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
