<!DOCTYPE html>
<html>
  <head>
    <title>Directions Service</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="/css/mapstyle.css" />
    <!-- ここのパスが間違っているかもしれない。それが原因でした。-->
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div id="floating-panel">
      <b>Start: </b>
      <select id="start">
          <option value="kanagawa, yokohama">yokohama</option>
      </select>
      <b>End: </b>
      <select id="end">
      <!--これ、eachの中身をlistにしたほうがいいかも。あとidを中にいれるか？-->
          <option value="hokkaido, wakkanai">wakkanai</option>
      </select>
      <!--これセレクトの意味ないか？-->
    </div>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXhjwIwL1Ee5xORPQE5ko3yODWBhjz7Fc&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>
