<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>食材一覧</h1>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <!--<span class="id-column">ID</span>-->
          <span>食材名</span>
        </div>
        <ul class="table-body">
          <% items.forEach((item) => { %>
            <li>
              <div class="item-data">
                <span class="name-column"><%= item.name %></span>
                <!-- ここに表示するコラムをitem.の形で書く -->
                <a href="/areas?dishes=<%= item.dishes %>&name=<%=item.name%>">選択</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
